<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<link href="./style/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
		<script src="https://kit.fontawesome.com/9a4c809e35.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navtop">
			<div>
				<h1>BSU Bank</h1>
					<a href="/home"><i class="fa-solid fa-house-user"></i><u>Home</u></a>
					<a href="/transfer"><i class="fa-solid fa-money-bill-transfer"></i>Transfer</a>
					<a href = "/transaction"><i class="fa-solid fa-money-check-dollar"></i>Transactions</a>
					<a href="#"><i class="fa-solid fa-user"></i>{{user.firstName}}</a>
					<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		{{#if restrictmessage}}
			<div class="alert alert-danger">{{restrictmessage}}</div>
		{{/if}}
		{{#if failedmessage}}
			<div class="alert alert-danger">{{failedmessage}}</div>
		{{/if}}
		{{#if balmessage}}
			<div class="alert alert-danger">{{balmessage}}</div>
		{{/if}}
		{{#if errormessage}}
			<div class="alert alert-danger">{{errormessage}}</div>
		{{/if}}
		{{#if message}}
			<div class="alert alert-danger">{{message}}</div>
		{{/if}}
		<div class="content">
			<h2>Home Page</h2>
			<div>
				<h3> Welcome, {{user.email}}!</h3>
			</div>
		</div>
        <div class= "ContainUserData">
			<div class="flex">
				<div class="element-center">
					
					<form name= "userbalance" action="/bal" method="POST">
						<div id="acctBalance"> <span class="wrap"></span>
							</a>
								<center><h1> Balance: {{formatCurrency user.balance}} </h1></center>
						</div>

						<div id="inputs">
						<h2> Amount: </h2> <input name="amount" type="text" id="amount" required>
							<button type="submit" name="action" value="add">Deposit</button>
							<button type="submit" name="action" value="subtract">Withdraw</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class ="ContainUserData">
			<div class ="element-left" action="/profile">

				<h3> Name: {{user.firstName}} {{lastName}} </h3>
				<h3> Email: {{user.email}} </h3>
				
			</div>
		</div>
	</body>
</html>
