<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
		<link href="./style/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
		<script src="https://kit.fontawesome.com/9a4c809e35.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navtop">
			<div>
				<h1>BSU Bank</h1>
				<a href="/home"><i class="fa-solid fa-house-user"></i>Home</a>
				<a href="/transfer"><i class="fa-solid fa-money-bill-transfer"></i>Transfer</a>
				<a href = "/transaction"><i class="fa-solid fa-money-check-dollar"></i>Transactions</a>
					<a href="#"><i class="fa-solid fa-user"></i>{{user.firstName}}</a>
				<a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			<h2>Profile</h2>
			{{#if requiredmessage}}
			<div class="alert alert-danger">{{requiredmessage}}</div>
			{{/if}}
			{{#if requiredmessage}}
			<div class="alert alert-danger">{{requiredmessage}}</div>
			{{/if}}
            <div class ="ContainProfile">
			<div class ="flexborder">
			<div class ="element-right">
			<form action=/profile method="post">
				<h3> First Name </h3> <input type="text" placeholder="New First Name" id="fname" name="fname" required>
                <h3> Last Name </h3> <input type="text" placeholder="New Last Name" id="lname" name="lname" required>
                <h3> Password </h3> <input type="password" placeholder="New Password" id="password" name="password"required>
                    <button type="submit" name="action" value="add">Change</button>
			</form>
			</div>
			</div>
			<div class ="flexborder">
			<div class ="element-left" action="/profile">

				<h3> First Name: {{user.firstName}} </h3>
				<h3> Last Name: {{user.lastName}} </h3>
				<h3> Email: {{user.email}} </h3>
				
			</div>
			</div>
			</div>
                    
            
    </div>
			           
	</div>
        
</body>
</body>
</html>